{%extends "store/main.html"%}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{%block content%}
    <br>
	<div class="content-section">
  		<div class="media">
            <img class="mr-3 mt-3 rounded-circle" style="width:110px;" src="{{ user.profile.image.url }}" alt="">
            <div class="media-body">
                <br>
                <h2 class="account-heading">{{ user.username }}</h2>
      			<p class="text-secondary">{{user.email}}</p>
    		</div>
  		</div>
        <br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Form Information</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
	</div>
{%endblock content%}

